process.container = 'quay.io/nextflow/bash'

profiles {
    short {
        params.times = 10
        params.timeout = 1
        params.forks = 2
    }
    medium {
        params.times = 20
        params.timeout = 2
        params.forks = 3
    }
    long {
        params.times = 50
        params.timeout = 5
        params.forks = 5
    }
}
